main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100dvw;

  h3 {
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 2dvh auto;

      label {
        color: #f3f3f3;
        font-size: 1.2rem;
        font-weight: 200;
      }

      input {
        margin-top: 1dvh;
        background-color: transparent;
        border: 1px solid #dbdbdb;
        outline: none;
        color: #fff;
        height: 35px;
        text-align: center;
        font-size: 1.1rem;
      }

      input[type="text"] {
        width: 400px;
        max-width: 70dvw;
      }

      input[type="number"],
      [type="date"] {
        width: 250px;
        max-width: 60dvw;
      }
    }

    button {
      width: 150px;
      height: 35px;
      background-color: transparent;
      border: 1px solid #cccccc;
      color: #fff;
      transition: ease-in 0.3s;

      &:hover {
        border: 1px solid #fff;
        background-color: #424242;
        cursor: pointer;
      }
    }
  }
}
